<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Signup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       <div class="modal-body">
  <form method="POST" action="{% url 'account:signup' %}" enctype="multipart/form-data" name="from1" id="form1">
  {% csrf_token %}
    <div class="form-group">
      <label for="uname">Enter your username:</label>
      <input type="text" name="username" id="username" placeholder="Enter your username here">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <label for="password1">Password:</label>
      <input type="password" name="password" id="password" placeholder="Enter your password">
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password:</label>
      <input type="password" name="password2" id="password2" placeholder="Confirm your password">
    </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
      </form>
      <p style="text-align: center;font-size: 1rem;">Already have an account? <span name="loginmodal" id="loginmodal"  style="font-size: larger;font-weight: bold;color: blue; cursor: pointer;"  onclick="openLModal()" >Login</span></p>
    </div>
  </div>
</div>
<!-- end of signup modal -->
