.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  align-content: center;
  align-items: center;
  
}
.card-img-top{
  max-height: 12%;
  height: 180px;
}