{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'basestatic/css/bootstrap_min.css' %}">
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'gallery/css/burger.css' %}">
    <link rel="stylesheet" href="{% static 'gallery/css/indx_ldng_anmtn.css' %}">
     <link rel="stylesheet" href="{% static 'gallery/css/video.css' %}">
    <title>{% block title %}  {% endblock %}</title>
    <style>
       body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .navbare {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: space-around;
      padding: 10px;
    }

    .navbare a {
      color: #fff;
      text-decoration: none;
    }
    .content-container {
      height: calc(100vh - 50px); /* Subtract the navbar height */
      overflow-y: auto;
      padding-bottom: 50px; /* Add padding to prevent content from being hidden behind the navbar */
    }

    /* Adjust the styling of your main content as needed */
    .content {
      padding: 20px;
    }
  </style>
    </style>
  </head>
  <body>
    <nav class="navbar sm-body-tertiary">
      <div class="container-fluid">
        <a  href ="{% url 'app:indexpage' %}" class="navbar-brand" style="margin-left: 8%;">Wall-Gallery</a>
        <div class="" style="margin-right: 40%;">
        <form method="post" name="search_form" id="search_form" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> <img src="{% static 'basestatic/icons/search.png' %}" style="height:22px; border-radius:10px;"></button>      <!--<i class="fa-solid fa-magnifying-glass fa-spin fa-spin-reverse"></i>-->
        </form>
      </div>
      </div>
    </nav>
    <div class="navbare">
      <a href="#"><img src="{% static 'basestatic/icons/home.png' %}" alt="blaze" style="color: white;background: white;height: 22px;border-radius: 10px;" ></a>
      <a href="#"><img src="{% static 'basestatic/icons/blaze.png' %}" alt="blaze" style="color: white;background: white;height: 22px;border-radius: 10px;" ></a>
      <a href="#"><img src="{% static 'basestatic/icons/plus.png' %}" alt="blaze" style="color: white;background: white;height: 22px;border-radius: 10px;" ></a>
      <a href="#"><img src="{% static 'basestatic/icons/bell.png' %}" alt="blaze" style="color: white;background: white;height: 22px;border-radius: 10px;" ></a>
      <!--open logout modal when user logged in-->
      {% if user.is_authenticated %}
       <a href="#" onclick="openLogoutModal()"><img src="{% static 'basestatic/icons/user.png' %}" alt="blaze" style="color: white;background: white;height: 22px;border-radius: 10px;" ></a> <!-- Logout button -->
      <!-- open signup modal when user logged out-->
      {% else %}
      <a href="#" onclick="openModal()"><img src="{% static 'basestatic/icons/user.png' %}" alt="blaze" style="color: white;background: white;height: 22px;border-radius: 10px;" ></a> <!-- it's a signup
      and profile view button-->
      <!--end of signup modal-->
      {% endif  %}
    </div>
    </div>
    <div id="loading-container">
    <div id="loading-animation"></div>
    </div>
    <div class="content" id="content">
    {% block content %} 
    {% endblock %}
  </div>
  <!-- signup modal -->
  <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">

  Launch static backdrop modal
</button>-->

<!-- signup Modal -->

{% include 'modals/signup_modal.html' %}

<!-- end of signup modal -->


<!-- start login modal -->

{% include 'modals/login_modal.html' %}

<!--  end login modal -->

<!-- logout modal -->

{% include 'modals/logout_modals.html' %}

<!-- end of logout modal -->

  <!-- active script section -->
    <script src="{% static 'basestatic/js/jquery_min.js' %}"></script>
    <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
  
    <script src="{% static 'basestatic/js/bootstrap_bundel_min.js'%}"></script>
    <script src="{% static 'basestatic/js/sweetalert_min.js' %}">
    <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
    <script src="{% static 'gallery/js/indx_ldng_anmtn.js' %}"></script>
    <script src="{% static 'basestatic/js/modal_controller.js' %}"></script>
    <script>
     function openModal() {
    var modal = document.getElementById('staticBackdrop');
    var backdrop = new bootstrap.Modal(modal, {
      backdrop: 'static',
      keyboard: false
    });
    backdrop.show();
    }
    </script>
    <!-- signup script-->
    <script>
    $(document).ready(function() {
    // Handle form submission
    $('#form1').submit(function(event) {
      event.preventDefault(); // Prevent the default form submission behavior

      // Get the form data
      var formData = new FormData($(this)[0]);
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      // Send the AJAX request
      $.ajax({
        type: 'POST',
        url: "{% url 'account:signup' %}",  // Replace with your Django signup URL
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
        console.log(response);
          // Show SweetAlert success message
          swal({
            title: "Success",
            text: "User registration successful!",
            icon: "success",
            buttons: {
              confirm: {
                text: "OK",
                value: true,
                visible: true,
                className: "swal-button",
              },
            },
          }).then(function() {
          $('#form1')[0].reset();
          $('#staticBackdrop').modal('hide');
          $('#exampleModal').modal('show'); 
          });
        },
        error: function(xhr, status, error) {
          // Handle the error
        swal({
        title: "Something Went Wrong at backend",
        text: xhr.responseText,
        icon: "error",
         buttons: {
            confirm: {
            text: "OK",
            value: true,
            visible: true,
            className: "swal-button",
      },
      },
      });
        }
      });
    });
  });
  </script>

    <!-- signup script ends --> 
<!--login script-->
<script>
$(document).ready(function() {
  // Handle form submission
  $('#form2').submit(function(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    // Get the form data
    var formData = new FormData($(this)[0]);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
 
    // Send the AJAX request
    $.ajax({
      type: 'POST',
      url: "{% url 'account:login' %}",  // Replace with your Django login URL
      data: formData,
      processData: false,
      contentType: false,
      success: function(response) {
        console.log(response);
        // Show SweetAlert success message
        swal({
          title: "Success",
          text: "Login successful!",
          icon: "success",
          buttons: {
            confirm: {
              text: "OK",
              value: true,
              visible: true,
              className: "swal-button",
            },
          },
        }).then(function() {
          $('#form2')[0].reset();
          $('#staticBackdrop').modal('hide');
          $('#exampleModal').modal('hide');
          window.location.href = "{% url 'app:indexpage' %}";   

        });
      },
      error: function(xhr, status, error) {
        // Handle the error
        swal({
          title: "Login Failed",
          text: "Email or password is incorrect.",
          icon: "error",
          buttons: {
            confirm: {
              text: "OK",
              value: true,
              visible: true,
              className: "swal-button",
            },
          },
        });
      }
    });
  });
});

</script>

<!-- logout-->
<script>

$(document).ready(function() {
  // Handle logout button click
  $('#logoutModal').click(function() {
    // Get the CSRF token
    var csrftoken = Cookies.get('csrftoken'); // Replace with your actual token cookie name
    console.log(csrftoken);

    // Send AJAX request to the logout URL
    $.ajax({
      type: 'POST',
      url: "{% url 'account:logout' %}",  // Replace with your Django logout URL
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",  // Include the CSRF token in the request header
      },
      success: function(response) {
        // Show SweetAlert success message
        swal({
          title: "Logged Out",
          text: response.detail,
          icon: "success",
          buttons: {
            confirm: {
              text: "OK",
              value: true,
              visible: true,
              className: "swal-button",
            },
          },
        }).then(function() {
          // Redirect to the index page
          window.location.href = "{% url 'app:indexpage' %}";  // Replace with your index URL
        });
      },
      error: function(xhr, status, error) {
        // Show SweetAlert error message
        swal({
          title: "Logout Failed",
          text: "An error occurred while logging out.",
          icon: "error",
          buttons: {
            confirm: {
              text: "OK",
              value: true,
              visible: true,
              className: "swal-button",
            },
          },
        });
      }
    });
  });
});
</script>


<!-- end of logout modal-->

  </body>
 </html>
