{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microrobotics.tech | Experiments | Seraching Area</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>
    <div class="container"> 
        <form action="{% url 'search' %}" method="post" class="search-bar">
            {% csrf_token %}
            <input type="text" name="search"  placeholder="search anything" required>
            <button type="submit"><img src="{% static 'images/search-icon.png' %}" alt="" srcset=""></button>
        </form>
    </div>

</body>
</html>
